@font-face {
  font-family: "Dancing Script";
  src: url(./fonts/DancingScript-VariableFont_wght.ttf) format("truetype");
}


@font-face {
  font-family: "Gloock";
  src: url(fonts/Gloock-Regular.ttf) format("truetype");
}

html {
    scroll-behavior:smooth;
  }
  
  #bragas {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .coleccion-de-bragas {
    margin-top: 50px;
    font-family: 'Gloock';
    font-weight: bold;
    font-size: 40px;
  }
  
  .div-bragas {
    display: flex;
    gap: 70px; 
    margin-top: 30px; 
  }
  
  .coleccion-de-bragas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    margin-top: 0px;
    background-color: #d5f5e396;
    padding: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px #92f0bb80;
    -webkit-text-stroke: 1px #d5f5e354;
  }
  
  .contenido-1 {
    overflow: hidden;
    transition: all .3s;
    width: 260px;
    height: 450px;
    cursor: context-menu;
    background-image: url("../img/Productos/Bragas/bragas-1.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.245);
    margin: 1px;
    border: 1px solid #00000014;
    border-radius: 10px
  }
  
  .contenido-2 {
    overflow: hidden;
    transition: all .3s;
    width: 260px;
    height: 450px;
    cursor: context-menu;
    background-image: url("../img/Productos/Bragas/bragas-2.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.245);
    margin: 1px;
    border: 1px solid #00000014;
    border-radius: 10px 
  }
  
  .contenido-3 {
    overflow: hidden;
    transition: all .3s;
    width: 260px;
    height: 450px;
    cursor: context-menu;
    background-image: url("../img/Productos/Bragas/bragas-3.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.245);
    margin: 1px;
    border: 1px solid #00000014;
    border-radius: 10px 
  }
  
  .contenido-4 {
    overflow: hidden;
    transition: all .3s;
    width: 260px;
    height: 450px;
    cursor: context-menu;
    background-image: url("../img/Productos/Bragas/bragas-4.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.245);
    margin: 1px;
    border: 1px solid #00000014;
    border-radius: 10px  
  }
  
  .contenido-5 {
    overflow: hidden;
    transition: all .3s;
    width: 260px;
    height: 450px;
    cursor: context-menu;
    background-image: url("../img/Productos/Bragas/bragas-5.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.245);
    margin: 1px;
    border: 1px solid #00000014;
    border-radius: 10px
  }
  
  .contenido-6 {
    overflow: hidden;
    transition: all .3s;
    width: 260px;
    height: 450px;
    cursor: context-menu;
    background-image: url("../img/Productos/Bragas/bragas-6.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.245);
    margin: 1px;
    border: 1px solid #00000014;
    border-radius: 10px
  }
  
  .contenido-bragas{
    padding: 5px;
    height: 560px;
    box-sizing: border-box;
    background-color: #d5f5e358;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.245);
    margin: 1px;
    border: 1px solid #00000014;
    border-radius: 10px 
  }
  
  .informacion-bragas-1 {
    text-align: center;
    height: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
    margin: 3px;
    border: 1px solid #00000014;
    border-radius: 10px;
    font-family: 'Dancing Script'; 
    font-weight: bold;
    font-size: 15px;
    -webkit-text-stroke: 1px #0000008a;
  }
  
  .informacion-bragas-2 {
    text-align: center;
    height: 50px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
    margin: 3px;
    border: 1px solid #00000014;
    border-radius: 10px;
    font-family: 'Dancing Script'; 
    font-weight: bold;
    font-size: 15px;
    -webkit-text-stroke: 0.2px #0000008a;
  }
  
  .contenido-1:hover {
    background-image: url(../img/Productos/Bragas/bragas-1.1.png);
    transition: all .3s;
  }
  
  .contenido-2:hover {
    background-image: url(../img/Productos/Bragas/bragas-2.1.png);
    transition: all .3s;
  }
  
  .contenido-3:hover {
    background-image: url(../img/Productos/Bragas/bragas-3.1.png);
    transition: all .3s;
  }
  
  .contenido-4:hover {
    background-image: url(../img/Productos/Bragas/bragas-4.1.png);
    transition: all .3s;
  }
  
  .contenido-5:hover {
    background-image: url(../img/Productos/Bragas/bragas-5.1.png);
    transition: all .3s;
  }
  
  .contenido-6:hover {
    background-image: url(../img/Productos/Bragas/bragas-6.1.png);
    transition: all .3s;
  }

  .boton-wp {
    display: flex;
    justify-content: flex-end;
  }
  
  .whatasapp {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px 50px 50px 50px;
    border: solid 1.5px #fff8f8;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    margin-right: 10px;
    position: fixed;
    top: 89%;
    left: 95%;
    background-image: url(../img/whatsapp.png);
    background-size: cover;
    background-position: center;
    
  }

  